/* google font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* body */
body {
  background-color: black;
  padding: 2px 190px;
}

/* nav section */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-tital {
  color: #E6533C;
  font-size: 36px;
  font-weight: 800;
}

.nav-btn>a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 40px;
}

#nav-home {
  background-color: #E6533C;
  padding: 8px 20px;
  border-radius: 46px;
}

/* banner section */
.banner-container {
  color: #fff;
  display: flex;
  gap: 80px;
}

.banner-hedding>h1 {
  font-size: 75px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 28px;
}

.span {
  font-style: italic;
  font-weight: 100;
}

.banner-hedding {
  width: 60%;
}

.banner-hedding>p {
  color: rgba(255, 255, 255, 0.50);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 28px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-1 {
  width: 220px;
  padding: 15px 40px;
  background-color: #E6533C;
  color: #fff;
  border: 0px;
  border-radius: 42px;
}

.btn-2 {
  width: 220px;
  padding: 15px 40px;
  color: #fff;
  background-color: #000;
  border: 1px solid #FFF;
  border-radius: 42px;
  margin-left: 10px;
}

.banner-img {
  background-image: url("./images/Images\ 2.png");
  background-size: cover;
  padding-left: 250px;
  position: relative;
}


.blur-top {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  width: 160px;
  padding: 5px 20px;
  position: absolute;
  top: 70px;
  left: 200px;
}

.blur-top>h1 {
  margin-bottom: 0px;
}

.blur-top>p {
  margin-top: 0px;
}

.btn-down {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  padding: 5px 20px;
  width: 180px;
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: -100px;
}

.blur-color {
  width: 40px;
  height: 20px;
  background-color: #E6533C;
  border-radius: 63%;
}

.blur-botom>h3 {
  margin-bottom: 0px;
}

.blur-botom>p {
  margin-top: 0px;
}

/* habit section */
.title-container {
  text-align: center;
  color: #FFF;
}

.habit-titel {
  margin: 100px 0px 15px 0px;
  font-size: 48px;
  font-weight: 900;
}

.title-descrption {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);
  margin-bottom: 55px;
}

.img-contrainer {
  display: flex;
  gap: 35px;
  color: #FFF;
}

.img1,
.img2,
.img3,
.img4 {
  border-radius: 50%;
}

.Movement,
.Time,
.Practice,
.Weight-Loss {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0px;
}

.Movement-dec,
.Time-dec,
.Practice-dec,
.Weight-Loss-dec {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 0.50);
}

/* run section */
.run-contraner {
  display: flex;
  color: #FFF;
  margin: 100px 0px 100px 0px;
  padding: 30px 32px 29px 54px;
  align-items: center;
  gap: 165px;
  align-self: stretch;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  border-radius: 12px;
}

.run-section-left {
  width: 50%;
}

.run-section-left>h3 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

.run-section-left>p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);
  margin-top: 10px;
  margin-bottom: 34px;
}

.run-section-left>button {
  display: flex;
  width: 224px;
  padding: 16px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 42px;
  background: #E6533C;
  color: #FFF;
  border: none;
}

.run-section-right {
  width: 50%;
}

.run-img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

/* BMI SECTION */
.bmi-title {
  text-align: center;
}

.bmi-title>h3 {
  color: #FFF;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0px;
  margin-top: 0px;
}

.bmi-title>p {
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* media quary */
@media screen and (max-width:576px) {
  nav {
    flex-direction: column;
  }

  body {
    padding: 2px 10px;
  }

  .banner-container {
    flex-direction: column;
    gap: 0px;
  }

  .banner-hedding {
    width: 100%;
  }

  .banner-img {
    width: 340px;
    height: 550px;
    background-size: cover;
    padding: 10px;
    background-position: center;
  }

  .btn-down {
    left: 15px;
  }

  .blur-top {
    top: 120px
  }

  .img-contrainer {
    flex-direction: column;
    text-align: center;
  }

  .run-contraner {
    flex-direction: column;
    gap: 50px;
    padding: 30px 33px 35px 30px;
    border: 2px solid red;
  }

  .run-section-left>h3 {
    font-size: 32px;
    font-weight: 900;
  }

}