/* google font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* body */
body {
  background-color: black;
  padding: 2px 190px;
}

/* nav section */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-tital {
  color: #E6533C;
  font-size: 36px;
  font-weight: 800;
}

.nav-btn>a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 40px;
}

#nav-home {
  background-color: #E6533C;
  padding: 8px 20px;
  border-radius: 46px;
}

/* banner section */
.banner-container {
  color: #fff;
  display: flex;
  gap: 80px;
}

.banner-hedding>h1 {
  font-size: 75px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 28px;
}

.banner-hedding {
  width: 60%;
}

.banner-hedding>p {
  color: rgba(255, 255, 255, 0.50);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 28px;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-1 {
  width: 220px;
  padding: 15px 40px;
  background-color: #E6533C;
  color: #fff;
  border: 0px;
  border-radius: 42px;
}

.btn-2 {
  width: 220px;
  padding: 15px 40px;
  color: #fff;
  background-color: #000;
  border: 1px solid #FFF;
  border-radius: 42px;
  margin-left: 10px;
}

.banner-img {
  background-image: url("./images/Images\ 2.png");
  background-size: cover;
  padding-left: 250px;
  position: relative;
}


.blur-top {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  width: 160px;
  padding: 5px 20px;
  position: absolute;
  top: 70px;
  left: 200px;
}
.blur-top>h1{
  margin-bottom: 0px;
}
.blur-top>p{
  margin-top: 0px;
}
.btn-down{
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  backdrop-filter:blur(10px) ;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  padding: 5px 20px;
  width: 180px;
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: -100px;
}
.blur-color{
  width: 40px;
  height: 20px;
  background-color: #E6533C;
  border-radius: 63%;
}
.blur-botom>h3{
  margin-bottom: 0px;
}
.blur-botom>p{
  margin-top:0px ;
}